<div class="eqLogic eqLogic-widget allowResize allowLayout jeedomAlreadyPosition" data-eqType="#eqType#" data-category="#category#" data-tags="#data-tags#" style="min-width:120px; border:#border#; border-radius:#border-radius#;background-color:#background-color#; color:#color#; width:#width#; height:#height#; #style#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#">
	<center class="widget-name"><a href="#eqLink#" style="font-size:1.2em; #hideEqLogicName#">#name_display# <span style="font-size:0.85em; position:relative; top:-2px;">#object_name#</span></a>
  </center>
  <center style="padding-top: 5px;">
   <span>Courant: #CurrentIndex# #CurrentIndexUnitCode#</span>
  </center>
  <center style="padding-top: 5px;">
   <span>Delta: #DeltaIndex# #CurrentIndexUnitCode#</span>
  </center>
  <center style="padding-top: 5px; padding-bottom: 5px;">
     <span class="cmd reportModeHidden cmd-widget">
     <a class="btn action cmdName tooltips"  
       title='New Index' 
       onClick="newIndexPopup_#id#()">Index</a>
     </span>
  </center>
</div>
<script type="text/javascript">
    function newIndexPopup_#id#() 
    {
        $('#md_modal').dialog({ title: "#name_display#", height: 300, width: 650 });
        $('#md_modal').load('index.php?v=d&plugin=IndexCompteur&modal=newIndex&id=#id#').dialog('open');
    }
</script>
